<form>
    <div class="form-group">
        <label>Dice</label>
        <input name="diceCount"
               value="{{diceCount}}"
               type="text"
               data-dtype="Number"/>
        d
        <input name="diceSides"
               value="{{diceSides}}"
               type="text"
               data-dtype="Number"/>
    </div>
    <div class="form-group">
        <label>Modifier</label>
        <input name="constant"
               value="{{constant}}"
               type="text"
               data-dtype="Number"/>
    </div>
</form>
